/* COMMON STYLES 
  -------------------------------- */
/* LAYOUT */
/* {position:absolute;} */
/* {position:relative;} */
/* {float:left;} */
/* {float:right;} */
/* {overflow:hidden;} */
/* {display:block;} */
/* {display:inline;} */
/* {display:none;} */
/* {margin:0} */
/* {padding:0;} */
/* {width:100%;} */

/* TYPOGRAPHY */
/* {line-height:1;} */
/* {list-style-type:none;} */
/* {font-size:1em;} */
/* {font-style:italic;} */
/* {font-style:normal;} */
/* {font-weight:bold;} */
/* {font-weight:normal;} */
/* {text-align:center;} */
/* {text-align:right;} */
/* {text-align:left;} */
/* {text-decoration:underline;} */
/* {text-decoration:none;} */
/* {text-transform:uppercase;} */
/* {text-transform:none;} */

/* COLOR */
/* {background-color: #fff;} */
/* {background-color: transparent;} */
/* {border: 1px solid #000;} */
/* {border: none;} */
/* {color: #000;} */
/* {border-radius: 0px;} */
/* {transition: all 0.3s ease-in-out;} */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: block;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

/* TOP NAV */
#main-nav {
}

.top-nav {
}

/* HERO SPLASH */
#header {
}

.left-div {
}

.right-div {
}

/* WORK */
#work {
}

.work-cotainer {
}

.work-01 {
}

.work-02 {
}

.work-03 {
}

/* ABOUT */
#about {
}

.about-text {
}

/* CONTACT */
#contact {
}

.bot {
}

.bot-nav {
}

/* FOOTER */
#footer {
}

.copyright {
}
